/*  Adminsysteem stylesheet 
    Sander van der Stelt*/
body{
    margin: 0px;
    height: 100%;
    font: 14px Helvetica, Arial, sans-serif;
}

a{
    color: #000;
    text-decoration: underline;
}

a:hover{
    color: #000;
    text-decoration: underline;
}

a:visited{
    color: #000;
    text-decoration: underline;
}

.error_message{
    color: #ff0000;
}

#bovenbalk{
    background-color: #d1d3d4;
}

#logo{
    margin-left: 20px;    
}

#gebruiker{
    height: 10%;
    float:right;
    margin-top: -90px;
    margin-right: 20px; 
}

#gebruiker font{
    font-size: 20px;
    vertical-align: top;
}

#menu{
    background-color: #faa61a;
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faa61a), to(#f58220));*/
    height: 50px;
}
#klant_menu{
    width: 33.33%;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    display:inline-block;
    float: left;
}

#klant_menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

#klant_menu a:hover{
    color: #d1d3d4;
}

#klant_menu a:visited{
    text-decoration: none;
}

#factuur_menu{
    width: 33.33%;
    text-align: center;
    font-size: 22px;
    padding-top: 2px;
    display:inline-block;
    float: left;
}

#factuur_menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

#factuur_menu a:hover{
    color: #d1d3d4;
}

#factuur_menu a:visited{
    text-decoration: none;
}

#ticket_menu{
    width: 33.33%;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    display:inline-block;
    float: left;
    
}

#ticket_menu a{
    color: black;
    text-decoration: none;
}

#ticket_menu a:hover{
    color: #d1d3d4;
}

#ticket_menu a:visited{
    text-decoration: none;
}

#content{
    padding: 20px;
    margin:auto;
    float: none;
    width: 1000px;
    height: 100%;
    overflow: auto;
    clear: both;
}

#content table{
    margin-left: auto;
    margin-right:auto;
}

#content table a{
    text-decoration: none;
}
#content label{
    margin-right: 10px;
    display: inline-block;
    min-width: 150px;
    height: 30px;
    text-align: left;
}

#content textArea {
    min-width:400px;
    min-height: 250px;
    padding: 20px;
}

.rowcolors  tr:nth-child(even) {background: #FFF}
.rowcolors  td:hover {background: #faa61a;}
.rowcolors  tr:nth-child(odd) {background: #d1d3d4}



.tableh1, .tableh2, .tableh3{
    background-color: #faa61a;
}

.greyTD{
    background-color: #d1d3d4;
    border: none;
}

#MyAccount{
    border-collapse: collapse;
}

#editor{
    font-family: 'Courier New',Monospace;
}

#footer{
    background-color: #d1d3d4;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom:0px;
    float: bottom;
}

#footerleft{
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

#footerright{
    margin-top: 5px;
    margin-right: 20px;
    float: right;
}

#showname{
    position: absolute;
    width: auto;
    margin-top:5px;
    left:25px;
    padding:0px;
    display:inline-block;
}

#pijltje{
    display:inline-block;
    float:right;
    margin-top: 9px;
    margin-right:4px;
}

#nav{
    min-width: 150px;
    width: auto;
    color: #d1d3d4;
    font: bold 20px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 14px 6px 1px 6px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #999;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#nav li{
    list-style: none;
    height: 40px;
}

#nav li ul li{
    display:none;
    height: 20px;
}

#nav li:hover ul{
    margin-top: 1px;
    color: #6e6e6e;
    text-align: left;
    float:left;
    padding-left: 67px;
    display: block;
    position: absolute;
    width: auto;
    /*height: 120px;*/
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #999;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #999;
}

#nav li:hover ul li{
    padding-top: 5px;
    display: block;
    color: #6e6e6e;
    font: 16px Helvetica, Arial, sans-serif;
    text-decoration: none;
    width: 100px;
    position: relative;
}

#nav li:hover ul li a, hr{
    margin-left: -35px;
}

#nav li a{
    text-decoration: none;
    display: block;
}

#nav #uitloggen{
    width: 135px;
    border-top: 1px solid #888888;
    margin-left: -35px;
}

#nav #uitloggen a{
    margin-left: 0px;
}

#container{
    background-color: #d1d2d4;
    width: 900px;
    height: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 5px 10px 10px 5px #888;
    -webkit-box-shadow: 5px 10px 10px 5px #888;
    box-shadow: 5px 10px 10px 5px #888;
}
        
#container img{
    padding-left: 150px;
    padding-top: 100px;
}
        
#container p{
    padding-top: 40px;
    text-align: center;
}
.adminsysteem{
    display:inline-block; 
    float:right; 
    margin-right:20px; 
    font-weight:bold; 
    font-size:16px; 
    color:white; 
    line-height:20px; 
    opacity:0.5;
}
input[type="submit"], input[type="button"]{
    color: #000;
    font: bold 14px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #000;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
input[type="submit"], input[type="button"]:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
}
input[type="submit"], input[type="button"]:active {
    color: #000;
    border-color: #444;
    margin-top: 10px;
    margin-left:10px;
}
input[type="text"], input[type="password"], input[type="number"]{
    padding:12px;
    top:2px;
    position: relative;
    text-align: left;
    margin:10px 0px;
}
#content form{
    margin:auto;
}
.table_admin{
    margin-left:0px !important;
    margin-right:0px !important;
    border:1px solid black;
    border-radius:4px;
    padding:4px;
}
.table_reactie{
    margin:0px;
}
.datum{
    font-size: 11px;
    color:black;
    border-bottom:1px solid;
}
.succesmelding{
    text-align: center;
    color:white;
    font-size: 14px;
    padding:8px;
    background-color: limegreen;
    border: white solid 4px;
    border-radius: 4px;
    max-width: 400px;
    margin:40px auto;
    -webkit-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    -moz-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
}
.foutmelding{
    text-align: center;
    color:white;
    font-size: 14px;
    padding:8px;
    background-color: red;
    border: white solid 4px;
    border-radius: 4px;
    max-width: 400px;
    margin:40px auto;
    -webkit-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    -moz-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
}


