body{
    margin:0;
    padding: 0;
    font-family: Ubuntu, Helvetica;
}
#container{
    margin:auto;
    width: 100%;
    height: 100%;
}
blockquote{
    display: inline-block;
    width: 100%;
    background-color: rgba(221, 221, 221, 0.2);
    border:1px solid rgba(221, 221, 221, 1);
    border-radius: 5px;
    text-align: center;
    font-style: oblique;
    font-size:25px;
    color:rgba(204, 204, 204, 1);
    font-weight: 300;
    padding: 20px;
    margin:20px;
    top:0;
}
h1{
    font-family: Ubuntu, Helvetica;
    color: #fe5e00;
}
p,a{
    font-size:13px;
}
a{
    margin:0px 0px 10px 0px;
    text-decoration: none;
}
.column_small a{
    padding-right:8px;
    display: inline-block;    
}
.column_normal a{
    padding-right:8px;
    display: inline-block;
}
.column_small a:hover{
    margin-left:8px;
    display: inline-block;    
}
.column_normal a:hover{
    margin-left:8px;
    display: inline-block;
}
.column_full table{
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
.column_full td,th,tr{
    padding:20px 20px 20px 20px;
    text-align: center;
    font-size: 18px;
}
.column_full td:last-child{
    min-width:70px;
}
.column_normal table{
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
.column_normal td,th,tr{
    padding:20px 20px 20px 20px;
    text-align: center;
    font-size: 18px;
}
.column_normal td:last-child{
    min-width:70px;
}
header h1{
    font-weight: normal;
    font-size: 20px;
    float: right;
    line-height: 1,5em;
    display: inline-block;
}
header p{
    font-weight: normal;
    font-size: 11px;
    float: left;
    line-height: 0;
    color: rgba(0,0,0, 0.1);
}
header{
    height:60px;
    padding:20px;
    background-color: white;
    border-bottom: 1px solid #fe5e00;
    margin:0px;
    z-index:10;
}
#content{
    height: auto;
    min-height: 200px;
    width: 920px;
    padding:40px;
    margin:0px auto;
    background-color: white;
}
#content p{
    line-height:1.5em;
    text-align: justify;
    margin:0px 0px 10px 0px;
    color: #fe5e00;
}
#content a{
    line-height:1.5em;
    text-align: justify;
    color: #fe5e00;
}
#content h1{
    margin:0px 0px 10px 0px;
    padding-bottom:10px;
    display: inline-block;
    width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
#content table{
    margin-bottom: 10px;
}
#content td,tr {
    line-height:1.5em;
    text-align: justify;
    margin:0px 0px 10px 0px;
    color: #fe5e00;
    font-size:13px;
}
.column_line{
    border-bottom:4px solid #fe5e00;
}
.column_small{
    max-width: 250px;
    width: auto;
    padding:20px;
    display: inline-block;
    float: left;
    margin-left:20px;
    margin-bottom: 20px;
}
.column_normal{
    //max-width:550px;
    width: auto;
    padding:20px;
    display: inline-block;
    float: left;
    margin-left:20px;
    margin-bottom: 20px;
}
.column_full{
    width: 100%;
    padding:20px;
    display: inline-block;
    float: left;
    margin-left:20px;
    margin-bottom: 20px;
}
.link{
    min-width: 145px;
}
label{
    width: 150px;
    display: inline-block;
}
/*schaduw stijlen*/
.top-shadow {
    -webkit-box-shadow: 0 -10px 35px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 -10px 35px -30px rgba(0, 0, 0, 1);
    box-shadow: 0 -10px 35px -30px rgba(0, 0, 0, 1);
}
.border-shadow {
    -webkit-box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.3),0 0px 6px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.3),0 0px 6px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.3),0 0px 6px -10px rgba(0, 0, 0, 0.7);
}
.side-shadow {
    -webkit-box-shadow: 3px 1px 6px -4px rgba(0, 0, 0, 0.1),-3px 1px 6px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 1px 6px -4px rgba(0, 0, 0, 0.1),-3px 1px 6px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 1px 6px -4px rgba(0, 0, 0, 0.1),-3px 1px 6px -4px rgba(0, 0, 0, 0.1);
}
// Knoppen
#conent input[type="button"], input[type="submit"]{}
input[type="button"], input[type="submit"]{
    font-size: 12px;
    padding:10px;
    color:lightgrey;
    background-color: white;
    border:1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 1px 0.8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0.8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0.8px rgba(0, 0, 0, 0.1);
    outline: none;
}
input[type="button"]:hover, input[type="submit"]:hover{
    font-size: 12px;
    padding:10px;
    color:lightgrey;
    background-color: white;
    border:1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    -webkit-box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05);
    outline: none;
}
input[type="button"]:active, input[type="submit"]:active{
    font-size: 12px;
    padding:10px;
    background-color: white;
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border:1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0px -0.5px 1px 1px rgba(0, 0, 0, 0.05) inset;
}