/*  Klantsysteem stylesheet 
    Sander van der Stelt*/
body{
    margin:0px;
    padding:0px;
    font-family: Helvetica;
}
header{
    width: 1080px;
    height: 100px;
    background-color: white;
    margin:auto;
    -webkit-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    -moz-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
}
footer{
    width: 100%;
    height: 150px;
    background-color: #555;
    margin:0px;
    border-top:solid gray 4px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
    color:rgb(250,166,27);
}
.copyright{
    text-align: center;
    font-size: 12px;
    color:#777;
}
#content{
    min-height: 500px;
    height:auto;
    //background-color: pink;
    width: 1000px;
    padding: 20px 60px;
    display: inline-block;
}
#content table{
    padding:10px;
    display:inline-block;
    border:1px solid lightgray;
    border-collapse: collapse;
    border-radius:6px;
    margin-bottom:20px;
}
#content tr,td{
    padding:8px;
    text-align: center;
    min-width: 100px;
}
#content th{
    padding:8px;
    border-bottom:1px solid lightgray;
    color:gray;
}
#container{
    width: 1120px;
    margin: auto;
}
#logo{
    display: inline-block;
    float:left;
    margin-top:16px;
    height: 100px;
}
#slider {
    height: 400px;
    background: -webkit-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -moz-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -o-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -ms-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: linear-gradient(rgb(251,175,54), rgb(247,141,35));
}
#slider h1{
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 50px;
    margin-top: 50px;
    color:white;
    text-align: left;
    opacity: 1;
}
.knop_link{
    display:inline-block; 
    margin-left:5px;
    float:left;
}
submit{
    padding:12px 20px;
    border-radius: 2px;
    border:none;
    background-color: rgb(247,141,35);
    border-bottom:4px rgb(250,88,27) solid;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    bottom:10px;
    display: inline-block;
    margin-top: 10px;
}
submit:active{
    border-bottom:4px rgb(250,88,27) solid;
    bottom:-2px;
    position: relative
}
submit:focus{
    outline:0
}
input[type="submit"]{
    padding:12px 20px;
    border-radius: 2px;
    border:none;
    background-color: rgb(247,141,35);
    border-bottom:4px rgb(250,88,27) solid;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    bottom:10px;
    display: inline-block;
    margin-top: 10px;
}
input[type="submit"]:active{
    border-bottom:4px rgb(250,88,27) solid;
    bottom:-2px;
    position: relative;
}
input[type="submit"]:focus {outline:0;}
input[type="text"], input[type="password"]{
    padding:12px;
    min-width: 370px;
    top:2px;
    position: relative;
    text-align: left;
    margin:10px 0px;
}
.txt_veld{
    width: 400px;
    height:400px;
    padding-left:80px;
    position:absolute;
    float:left;
}
.img_veld{
    width: 500px;
    height:380px;
    padding-left:10px;
    padding-top:20px;
    float:right;
}
#menu{
    display: inline-block;
    float:right;
    text-transform: uppercase;
    font-family: Helvetica;
    z-index: 10;
}
#menu a{
    color:#999;
    text-decoration: none;
}
.white {color:white;}
ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 0 0 50px 0;
    list-style: none;
    z-index: 10;
    /* -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}
ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 20px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ul li:hover {
    background: #555;
    color: #fff;
    height: auto;
}
ul li ul {
    padding: 0;
    position: absolute;
    top: 100px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul li { 
    background: #555; 
    display: block; 
    color: #fff;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.rij {
    padding: 41px 20px;
}
#domein{
    width: 100%;
    height: 150px;
    background-color: white;
    -webkit-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    -moz-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
}
#domein p {
    text-align: center;
}
#domein h1{
    text-align: center;
    text-transform: uppercase;
    opacity: 0.2;
    color:black;
}
#kolommen{
    width: auto;
    height: 500px;
    margin-top:0px;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    -moz-box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
    box-shadow: 0 6px 6px -8px rgba(155,155,155, 0.8);
}
#kolommen h1{
    color:rgb(250,88,27);
    text-align: center;
    line-height: 0px;
    padding-top:10px;
    margin:0;
    text-transform: uppercase;
    opacity: 1;
}
#kolommen h2{
    color:rgb(250,88,27);
    text-align: center;
    font-size: 10px;
    line-height: 50px;
    margin:0;
}
.kol1{
    width:300px;
    height:250px;
    //background-color: pink;
    border-radius: 10px;
    float:left;
    margin-top:20px;
}
.kol2{
    width:300px;
    height:300px;
    //background-color: pink;
    border-radius: 10px;
    float:left;
    margin:auto 40px;
}
.kol3{
    width:300px;
    height:250px;
    //background-color: pink;
    border-radius: 10px;
    float:right;
    margin-top:20px;
}
#kol_hdr{
    height: 50px;
    padding-top:20px;
    background: -webkit-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -moz-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -o-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: -ms-linear-gradient(rgb(251,175,54), rgb(247,141,35));
    background: linear-gradient(rgb(251,175,54), rgb(247,141,35));
}
.klein{border-radius: 10px 0px 0px 0px;}
.middel{border-radius: 10px 10px 0px 0px;}
.groot{border-radius: 0px 10px 0px 0px;}
.kol_cnt{
    height: 100px;
    width: 100%;
    display: inline-block;
    font-size: 50px;
    font-weight:bold;
    color:#999;
    line-height: 0px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(209,211,212), rgb(241,242,242));
    background: -moz-linear-gradient(rgb(209,211,212), rgb(241,242,242));
    background: -o-linear-gradient(rgb(209,211,212), rgb(241,242,242));
    background: -ms-linear-gradient(rgb(209,211,212), rgb(241,242,242));
    background: linear-gradient(rgb(209,211,212), rgb(241,242,242));
}
#kol_tabel table{
    width: 300px;
    height: 100%;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;
}
.t_links{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 10px;
}
.t_middel{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}
.t_rechts{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 0px;
}
.kol_tabel td{
    padding:20px;
}
.cnt_r{
    display: inline-block;
    float:right;
}
.login{
    width: 400px;
    height: auto;
    background-color: white;
    margin:auto;
    padding:40px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    -moz-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
}
.login a {
    float:right;
    display: inline-block;
    text-decoration: none;
    color: rgb(247,141,35);
}
.succesmelding{
    text-align: center;
    color:white;
    font-size: 14px;
    padding:8px;
    background-color: limegreen;
    border: white solid 4px;
    border-radius: 4px;
    max-width: 400px;
    margin:40px auto;
    -webkit-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    -moz-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
}
.foutmelding{
    text-align: center;
    color:white;
    font-size: 14px;
    padding:8px;
    background-color: red;
    border: white solid 4px;
    border-radius: 4px;
    max-width: 400px;
    margin:40px auto;
    -webkit-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    -moz-box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
    box-shadow: 0 4px 6px -1px rgba(155,155,155, 0.6);
}
.table_hdr{
    margin-bottom: 0px;
    float: left;
}
.table_reactie{
    text-align: left !important;
}
.datum{
    font-size: 11px;
    color:gray;
    border-bottom:1px solid lightgrey;
}
#ticket table{
    border:1px solid rgba(0,0,0, .06);
    padding:20px;
}
#ticket td{
    margin:10px;
    padding:10px;
} 
#ticket tr{
    padding:20px;
}
#ticket th{
    font-size: 15px;
    background-color: white;
    text-transform: uppercase;
}
#ticket input[type="checkbox"]{
    height: 20px;
    width: 20px;
    padding:4px;
    margin:10px auto;
    float: left;
    display: inline-block;
}
#ticket tr input[type="submit"]{
    border:none;
    background-color: white;
    color:#000;
    padding:0;
    margin:0;
    font-size:15px;
    font-weight: bold;

}
#ticket tr input[type="submit"]:active{
    border-bottom:none;
    bottom:0px;
}
.tkt_submit{
    margin-top:8px;
}
textArea{
    max-width: 800px;
    min-width: 500px;
    min-height: 250px;
    padding:20px;
    margin-bottom:20px;
}
select{
    padding: 10px 10px 10px 0px;   
}
label{
    min-width: 125px;
    margin-right: 10px;
    padding: 4px;
    display: inline-block;
}
.factuur{
}
.overzicht{
    display: inline-block;
    position: relative;
    float:left;
    height: 100%;
    margin-right:20px;
}
.overzicht_btn{
    width: auto; 
    display:inline-block;
    float:left;
}